/*=================================================
ESTILOS CUSTOME DRUPALMEX THEMING
=================================================*/

body,
h1,h2,h3,h4,h5,
.page_subtitle{
	color: #4a4a4a;
}
.container {
    word-wrap: break-word;
}

/*=== Drop down menu ==*/
.main_nav li.expanded ul{
	position: absolute;
	background: #fff;
	min-width: 180px;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
	overflow: hidden;
}
.main_nav li.expanded:hover ul{
	max-height: 999px;
}
.main_nav li.expanded ul li{
	padding: 5px 5px 5px 10px;
	width: 100%;
}
.main_nav li.expanded ul li:hover{
	background: #8796db;
}

/*=== Mobile dropdown menu ==*/
.mobileAreaMenu ul li.expanded ul{
	display: none;
}

/*=== List content ===*/
.container ul li{
	list-style: inherit;
	list-style-position: inside;
}

.related-post{
	background: #f6f6f6;
	padding: 1px 20px;
}
/*=== Big size title class that appears in roadmap basic page ==*/
.big-title{
	text-align: center;
	font-size: 2.4em;
	margin: 46px 0 20px;
	text-align: center;
}
/*== Removing preloader in iiner pages ==*/
.not-front #preloader{
	display: none;
}

/*=== Defining purple color in theme links ===*/
a, a:active, a:hover, a:link, a:visited {
 color:#8796db;
}
/*=== Defining the purple in buttons ===*/
.btn.btn-purple {
    background: #8796db;
    border: none;
    color: #FFFFFF;
		white-space: inherit;
}

/*== Boton de Regidtro en slide ==*/
.block-btn-registro a{
	position: absolute;
	left: 0;
	right: 0;
	width: 320px;
	margin: auto;
	z-index: 3;
	top: -280px;
	border-radius: 8px;
	font-size: 1.8em;
}
/*=== Modifying the purple color in hover input elements  ===*/
.form-actions.form-wrapper input.form-submit:hover{
	background-color: #00cae9;
}

/*====== Reduciendo el padding div section en interiores ===*/
.section{
	padding: 40px 20px 160px;
}

/*=== Eliminando la linea del menu para evitar que se encime al logo ===*/
.admin-menu header.transparent_menu, .admin-menu header.white_menu{
	border: none;
}

/*=== Primary tabs margin ====*/
#tasks{
	margin-top: 10px;
}

/*=== Social ul links ===*/
ul.social-networks{
	text-align: left;
}
.social-networks li{
	list-style-type: disc;
}
.social-networks li a{
	color: #8796db;
}
.social-networks li a:hover{
	text-decoration: underline !important;
}

/*=== Eliminado el position absolute para evitar que se los elementos se encimen  en las primary tabs===*/
ul.tabs.primary{
	position: relative;
}
div.messages{
	margin: 40px auto 10px;
}


/*== Parteners block ==*/
#block-views-partners-block{
	margin: 20px auto 50px;
}
#block-views-partners-block .page_title{
	margin-bottom: 28px;
}
#block-views-partners-block .page_title h1{
	font-size: 22px !important;
  letter-spacing: normal;
  margin-top: 0;
	font-weight: 400;
}
.view-id-partners .view-content{
	display: flex;
	justify-content: space-around;
}
.view-id-partners .views-row .views-field-field-image{
	max-width: 250px;
	width: 100%;
	margin: auto;
}

/*=== Content purple blocks ===*/
.container-fluid.purple-back{
	background: #6082bb;
	color: #fff;
}
.container-fluid.purple-back h1,
.container-fluid.purple-back h2,
.container-fluid.purple-back h4{
	color: #fff;
}
.container-fluid .welcome-text{
	margin-bottom: 50px;
}



/*=== Form css ===*/
input, button, select, textarea{
	margin: 0 0 20px 0;
	padding: 0 6px;
	display: block;
}
.form-textarea-wrapper,
.page-contact .btn.btn-purple{
	margin-bottom: 20px;
}
.contact-form{
	padding: 0 10px;
}
.contact-form input#comment-email{
	float: right;
}

/*=== welcome page css ===*/
.socials-block .social-networks{
	height: 180px;
	overflow: hidden;
	position: relative;
}

.social-content{
	max-width: 354px;
	margin: auto;

}
.social-content:before{
	transition: opacity .3s ease;
	content: "";
	height: 100%;
	left: 0;
	overflow: hidden;
	opacity: .7;
	position: absolute;
	top: 0;
	width: 100%;
	background: black;
	max-width: 354px;
	margin: auto;
  right: 0;
}

.social-content:hover:before{
	transition: opacity .3s ease;
	opacity: .9;
	background: #1C90F3;
}
.social-content.face:hover:before{
	background: #3B579D;
}
.social-content.slack:hover:before{
	background: #CD0D5A;
}

.social-info{
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 78px;
	margin: auto;
}
.social-info .fa-2x{
	border: 3px solid #fff;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}
.social-info .fa-facebook.fa-2x{
	font-size: 26px;
  padding: 10px 16px;
}
.social-info .name{
	color: #fff;
	font-weight: bold;
}

/*===== EVENTOS ====*/
.page-events .view-events .views-row{
	padding-bottom: 20px;
	border-bottom: 1px dashed #c4c4c4;
}
.page-events .view-events .views-row .links.inline{
	margin-top: 20px
}

ol.list{
	padding-left: 40px;
}

ol.list li{
	list-style-type: decimal;
}
ol.manifest.list li{
	margin-bottom: 20px;
}
ol.manifest.list li i{
	font-style: italic;
}
blockquote{
	margin: 30px;
}
/*== ROADMAP CSS ==*/
.roadmap ul{
	padding-left: 20px
}
.roadmap ul li{
	list-style-type: disc;
	margin-bottom: 10px;
}

/*=== TABLE VALUE==*/
th{
	font-weight: bold;
	font-size: 1.1em;
	background: #8796db !important;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}

/*== Modo Mantenimiento  ==*/
.maintenance-page{
	height: 98vh;
	background: #000;
	background-image: url(../images/maintenance_mode.png);
	background-repeat: no-repeat;
	background-position: center;
}
.maintenance-page #page{
	display: none;
}

/*== SKILLS BLOCK ==*/
.skill{
	margin-bottom: 40px;
}

/*== Community page css List of developers ==*/
.view-id-search .view-content ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.view-id-search .view-content ul li{
	width: 33.3333%;
	background: #fafafa;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	box-sizing: border-box;
	padding: 10px;
}
.view-id-search .view-content ul li:hover{
	background: #f2f2f2;
}
.view-id-search .view-content ul li:nth-child(3n){
	border-right: 1px solid #e0e0e0;
}
.view-id-search .view-content ul li:nth-last-child(-n+3){
	border-bottom: 1px solid #e0e0e0;
}
.view-id-search .view-content ul li.views-row-last{
	border-right: 1px solid #e0e0e0;
}
.page-community .facetapi-facetapi-checkbox-links input.facetapi-checkbox {
    display: inline-block;
    margin: 2px 6px 2px 0;
}

/*== 404 PAGE CSS ==*/
.not-found-image{
	width: 499px;
	height: 236px;
	background-image:url('../images/404-number.png');
  background-repeat:no-repeat;
  background-size:cover;
	margin: auto;
}
.not-found-image .animation{
	width: 234px;
	height: 241px;
	overflow: hidden;
	margin: auto;

}
.not-found-image img{
	height: 241px;
  max-width: inherit;
	animation: elephant 2s steps(39) infinite;
}
	/* animacion page 404 */
	@keyframes elephant {
	   100% { margin-left: -9667px; }
	}
.not-found-info{
	text-align: center;
  max-width: 580px;
  margin: auto;
	line-height: 24px;
}
.not-found-info h1{
	font-weight: 100;
	font-size: 2.6em;
	margin: 40px auto 20px;
	line-height: 1.2em;
}

.not-found-info h1 span{
	color: #8796db;
  margin-right: 16px;
}

/*===== MEDIA QUERY CONFIG ===*/

/* media query only mobile */
@media screen and (max-width: 480px) {
	#logo{
		max-width: 208px;
	}
	/*Partners block*/
	.view-id-partners .view-content{
		display: block;
	}
	.view-id-partners .views-row{
		width: 300px;
		margin: 10px auto;
		display: block;
	}
	/*== CAPCHA RESPONSIVE STYLES ==*/
	.g-recaptcha > div{
		 width: 216px !important;
	}
	.g-recaptcha iframe{
		width: 100% !important;
	}
	/*== Comunity developers list ==*/
	.view-id-search .view-content ul{
		display: block;
	}
	.view-id-search .view-content ul li{
			width: auto;
		  text-align: center;
			border-right: 1px solid #e0e0e0;
	}
	.view-id-search .view-content ul li.views-row-last{
		border-bottom: 1px solid #e0e0e0;
	}

	/*== boton registro ==*/
	.block-btn-registro a{
		top: -90px;
		font-size: 1em;
		padding: 12px 10px !important;
	}

	/*== Page not found animation ==*/
	.not-found-image{
		width: 320px;
		height: 151px;
	}
	.not-found-image .animation{
		width: 151px;
		height: 156px;

	}
	.not-found-image img{
		height: 156px;
	  max-width: inherit;
		animation: elephant_movil 2s steps(39) infinite;
	}
	/* animacion page 404 */
	@keyframes elephant_movil {
		 100% { margin-left: -6260px; }
	}

}

/* media query only tablet */
@media screen and (max-width: 767px) {
	ul.tabs.primary{
		display: block;
		width: 90%;
		margin: auto;
	}
	ul.tabs.primary li a{
		display: block;
		margin: 5px 0;
	}
  .password-strength{
		float: none;
		margin-bottom: 16px;
	}
	.form-item.form-type-password.form-item-pass-pass1.password-parent{
		width: 100%;
	}
	.confirm-parent, .password-parent{
		width: 100%;
	}
	/*Contact form*/
	.form.contact-form input{
	 width:  100%;
	}
	/* welcome page social blocks*/
	#node-667 p{
		padding: 0 14px;
	}
	.socials-block .social-networks{
		margin: 20px auto;
	}
	.contact-form input{
		width: 100%;
	}
	.contact-form input.btn{
		max-width: 156px;
	}

	.blog_title_heading h1{
		display: block;
		line-height: 1.4em;
	}
	.block-btn-registro a{
		font-size: 1.2em;
		width: 190px;
		top: -110px;
	}
}
/* media query only laptop*/
@media screen and (max-width: 990px) {
  #footer .col_footer {
		min-height: 100%;
		padding-bottom: 40px;
  }
	.contact-form input#comment-email{
		float: none;
	}
	.block-btn-registro a{
		top: -198px;
		width: 254px;
	}
}
