/*=================================================
ESTILOS CUSTOME DRUPALMEX THEMING
=================================================*/

/*Eliminando la linea de el menu para evitar que se encime al logo*/
.admin-menu header.transparent_menu, .admin-menu header.white_menu{
	border: none;
}

/*Social ul links*/
ul.social-networks{
	text-align: left;
}
.social-networks li{
	list-style-type: disc;
}
.social-networks li a{
	color: #8796db;
}
.social-networks li a:hover{
	text-decoration: underline !important;
}

/* eliminado el position absolute para evitar que se los elementos se encimen*/
ul.tabs.primary{
	position: relative;
}

/*modifcado color de el input de login al hover*/
.form-actions.form-wrapper input.form-submit:hover{
	background-color: #00cae9;
}

div.messages{
	margin: 40px auto 10px;
}
/* cambiando enlaces a púrpura*/
a, a:active, a:hover, a:link, a:visited {
 color:#8796db;
}
/* Add button purple*/
.btn.btn-purple {
    background: #8796db;
    border: none;
    color: #FFFFFF;
}

/* media query only mobile */
@media screen and (max-width: 480px) {
  ul.tabs.primary{
		display: block;
		width: 90%;
		margin: auto;
	}
	ul.tabs.primary li a{
		display: block;
		margin: 5px 0;
	}
}

/* media query only tablet*/
@media screen and (max-width: 990px) {
  #footer .col_footer {
		min-height: 100%;
		padding-bottom: 40px;
  }
}
